.app{
  /* border: 2px solid red; */
  width: 100%;
  height: 100vh;
}
.app .left-section{
  width: 80px;
  transition: 0.5s;
}
.app .left{
  transition: 0.5s;
}
.app .right-section{
  transition: 0.5s; 
}
.app .close-menu{
  display: none;
  transition: 0.5s;
}
/* left menuside css here*/

.comany-tittle{
  background:linear-gradient(to right bottom , rgb(250, 44, 109) , rgb(173, 40, 235));
  color: white;
  text-align: center;
  padding: 6px;
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
}
.comany-tittle h3{
  font-size: 20px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
}

.menu-section {
  height: 100vh;
  overflow: auto;
  scrollbar-width:none;
}
.menu-section li a{
text-decoration: none;
color: black;
font-size: 14px;
font-weight: 400;
display: flex;
align-items: center;
}

/* right actionside css here */

.app .action-section{
  width: 100%;
  height: 100vh;
  /* border: 3px solid green; */
  overflow: auto;
  scrollbar-width: none;
}
.header{
  top: 0;
  position: sticky;
  display: flex;
  align-items: center;
  z-index: 99;
  background: white;
}
.header button{
background: none;
border:1px solid rgb(193, 193, 193);
border-radius: 4px;
}
 
  .header input{
width: 350px;
outline: none;
border: none;
}

.header .input-section{
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
}
.header .search-btn{
 border: none;
 background: rgb(223, 239, 245);
 outline: none;
 padding: 0 10px 0 10px;
}
.header .search-btn .icon{
  font-size: 20px;
  font-weight: 800;
}

.header .user-logo{
  width: 40px;
  height: 40px;
  background: red;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}
.menu-icon{
  color: rgb(120, 120, 120);
}
.menu-section li{
  border-left:  4px solid  rgb(255, 255, 255);
  transition: 0.5s;
  pointer-events: none;

}

.menu-section li:hover{
border-left:  4px solid rgb(250, 44, 109);
}
.menu-section li .link{
  pointer-events: auto;
  }
.menu-section .active-li {
  border-left:  4px solid rgb(250, 44, 109);
  & p{
    color: rgb(250, 44, 109)

  }
  }
  .menu-section .active-a{
    color: rgb(250, 44, 109);
    }
    .bluewdot{
      width: 10px;
      height: 10px;
    }
    .yellowdot{
      width: 10px;
      height: 10px;
    }


    /* /////////////////////// */

    .desh-section h5{
      font-size: 14px;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    }
    .desh-section p ,.order-status p{
      font-size: 12px;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color: rgb(90, 89, 89);

    }
    .desh-section h2{
      font-size: 30px;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    }
    .desh-section button{
      font-size: 13px;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      padding: 8px;
      background: linear-gradient(to right bottom , rgb(215, 36, 137),rgb(188, 10, 111) );
      color: white;
      border: none;
      border-radius: 4px;
    }

    .desh-section .option-bar li{
      font-size: 13px;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      padding: 8px;
      border: none;
      cursor: pointer;
      color: rgb(0, 0, 0);
      border-bottom: 3px solid rgb(255, 255, 255);
      transition: 0.6s;
      font-weight: 400;
      opacity: 0.8;
    }
    .desh-section .option-bar .options li:hover{
      opacity: 1;
      border-bottom: 3px solid rgb(250, 44, 109) ;
    }
    .desh-section .icon{
      width: 27px;
      height: 27px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      color: white;
    }
   
    .desh-section .sectionname section{
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 12px;
      color: rgb(90, 89, 89);
    }
    .desh-section .sectionname .price{
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 15px;
      color: rgb(30, 30, 30);
      font-weight: 500;
    }


    /* //////////////////////////// */

    .donut-section h5{
      font-size: 14px;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .donut-section .lower-details h2{
      font-size: 27px;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .donut-section .lower-details .dot1{
     background: #f2b40a;
     width: 10px;
     height: 10px;
     border-radius: 20px;
    }
    .donut-section .lower-details section{
      display: flex;
      font-size: 10px;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color: rgb(90, 89, 89);
     }
    .donut-section .lower-details .dot2{
      background: #6c05b0;
      width: 10px;
      height: 10px;
      border-radius: 20px;
     }
     .donut-section .lower-details .dot3{
      background: #fc2349;
      width: 10px;
      height: 10px;
      border-radius: 50%;
     }

     /* ////////////////////////////// clud code */
     
    
    
    
    .activities-list {
      position: relative;
    }
    
    .activities-list::before {
      content: '';
      position: absolute;
      top: 0;
      left: 105px;
      width: 2px;
      height: 100%;
      background-color: #e0e0e0;
    }
    
    .activity-item {
      display: flex;
      align-items: flex-start;
      margin-bottom: 20px;
      position: relative;
    }
    
    .activity-time {
      width: 80px;
      font-size: 10px;
      color: #999;
      text-align: right;
      padding-right: 20px;
      flex-shrink: 0;
    }
    
    .activity-icon {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;
      flex-shrink: 0;
      margin: 0 10px;
    }
    
    .activity-content {
      flex-grow: 1;
    }
    
    .activity-type {
      font-weight: 500;
      font-size: 12px;
    }
    
    .activity-description {
      font-size: 10px;
      color: #666;
    }
    .recent-activties h5 ,.order-status h5{
      font-size: 14px;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

     }

    /* .recent-activties li{
      padding: 10px 0 10px 0;
      overflow: hidden;
     }

     
     .recent-activties .logo{
      background: red;
      width:30px;
      height:30px;
      color: white;
      font-weight: 700;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
     }
     .recent-activties .timeing{
      border: 1px solid red;
      width: 30%;
      font-size: 15px;
     }
     .recent-activties .line{
      position: absolute;
      left:50%;
      width: 1px ;
      height: 90px;
      background: red;
      border: 1px solid rgb(0, 0, 0);
      z-index: 1;
     }
     .recent-activties  h5{
      font-size: 15px;
      margin: 0;
     }
     .recent-activties  p{
      font-size: 12px;
      margin: 0;
     } */




     /* ////////////////////////////////// */
     .order-status .section-header button{
      border-radius: 4px;
      border: none;
      color: #666;
      font-size: 10px;
      padding: 0 6px 0 6px;
     }
     .order-status .section-header button:first-child{
      background: rgb(250, 44, 109);
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 13px;
      color: white;
     }
     .order-status .section-header button:first-child .icon{
      background: white;
      color: rgb(250, 44, 109);
      border-radius: 50%;
      margin: 0 4px 0 0;
     }
     .order-status .section-header input{
      background: #F0F0F0;
      border: none;
      width: 75%;
      margin-right: 10px;
      border-radius: 4px;
      outline: none;
      font-size: 13px;
     }
     .order-list{
      height: 80%;
     }
     .order-list  table{
      border-collapse: collapse;
      width: 100%;
     }
     .order-list  thead{
      color: white;
      background: rgb(40, 41, 48);
     }
     .order-list  th{
      font-size: 12px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      padding: 7px;

     }
     .order-list th:first-child {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
  }
  .order-list th:last-child{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.order-list  td{
  font-size: 13px;
  padding: 7px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  color: rgb(44, 44, 44);
  & section{
    width: fit-content;
    font-size: 11px;
    padding: 2px 4px 2px 4px;
  }
  
}

.switch-page button{
  background: none;
  width: 20px;
  height:20px;
  /* display: flex; */
  /* align-items: center; */
  justify-content: center;
  margin: 0 4px 0 4px;
  border-radius: 50%;
  font-size: 12px;
  border: 0;
  transition: 0.5s;
}  
.switch-page  .active{
  background: #fc2349;
  color: white;

}    
     
     /* /////////////////////////////// */
     .card-section .card{
      background: linear-gradient(to right bottom , rgb(255, 79, 108),rgb(187, 76, 243));
      border: none;
     }
     
     .card-section .col-lg-3:nth-child(2) .card{
      background: linear-gradient(to right bottom , rgb(61, 74, 141),rgb(78, 45, 101));
     }
     .card-section .col-lg-3:nth-child(3) .card{
      background: linear-gradient(to right bottom , rgb(101, 207, 231),rgb(58, 72, 117));
     }
     .card-section .col-lg-3:nth-child(4) .card{
      background: linear-gradient(to right bottom , rgb(227, 190, 69),rgb(243, 109, 76));
     }
     .card-section .card h5{
      font-size: 15px;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color: white;
    }
    .card-section .card .icon{
      font-size: 50px;

    }
    .card-section .card h2{
      font-size: 20px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    }
    .card-section .card p{
      font-size: 13px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    /* //////////////////////////////// */
    .users h2 ,.product-page h2{
      font-size: 19px;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color: #222222;
    }
    .users input,.product-page input{
      border:  1px solid rgb(83, 83, 83);
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      outline: none;
      border-right: none;
      font-size: 14px;
    }
    .users section button ,.product-page section button{
      border: none;
      outline: none;
      background: rgb(250, 44, 109);
      color: white;
      font-size: 14px;

    }
    .user-list .list ,.product-list .list{
      height: 68vh;
    }
    .users table ,.product-page table{
      border-collapse: collapse;
    }

    .users .user-list thead,.product-page .product-list thead{
      background: rgb(33, 33, 33);
      color: white;
    }
    .users .user-list th ,.product-page .product-list thead{
      padding: 3px;
      font-size: 14px;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    }
    .users .user-list th:first-child ,.product-page .product-list th:first-child{
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
  }
  .users .user-list th:last-child,.product-page .product-list th:last-child{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.users .user-list td,.product-page .product-list td{
  font-size: 14px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 9px 0 9px 0;
}
.users .user-list tr{
  /* border: 2px solid red; */
}
.user-list td button,.product-list td button{
  background:rgb(235, 235, 235);
  border: none;
  font-size:26px;
  width: 26px;
  height: 26px;
  color: rgb(0, 0, 0);
  border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 0 3px 0 3px;
   transition: 0.6s;
}
.user-list td button:first-child:hover,.product-list  td button:first-child:hover{
  background:rgba(12, 255, 101, 0.715);
 
}
.user-list td button:nth-child(2):hover ,.product-list  td button:nth-child(2):hover{
  background:rgba(12, 36, 255, 0.715);
  color: rgb(255, 255, 255);
 
}
.user-list td button:last-child:hover,.product-list  td button:last-child:hover{
  background:rgb(255, 0, 0);
  color: rgb(255, 255, 255);
 
}

 .product-list .products-img{
  width: 50px;
}